html, body, .todo {
    margin: 0;
    padding: 0;
}

.todo {
    list-style-type: none;
}

.todo__input, .todo__item,.todo_filter {
    margin: 10px;
}

.todo__item--done {
    text-decoration: line-through;
}

.todo_filterHeader{
    font-weight: bolder;
    font-size: 1.2em;
}
#addTodo {
    margin-left: 10px;
}
